<p>
  movie-detail works!
</p>

<h2>{{movieDetail.title}}</h2>

<a routerLink="/movies-popular">
  <img src='https://image.tmdb.org/t/p/w500{{movieDetail.backdrop_path}}'>
  <!-- <img src='https://image.tmdb.org/t/p/w500{{movieDetail.poster_path}}'> -->
</a>

<h3>Overview</h3>
<p>
  {{movieDetail.overview}}
</p>
<p>Release Date: {{movieDetail.release_date | date:'short'}}</p>

<button (click)="gotoPrevious()">Back</button>