<p>
  tv-show-detail works!
</p>

<h2>{{tvShowDetail.name}}</h2>

<a routerLink="/movies-popular">
  <img src='https://image.tmdb.org/t/p/w500{{tvShowDetail.backdrop_path}}'>
  <!-- <img src='https://image.tmdb.org/t/p/w500{{tvShowDetail.poster_path}}'> -->
</a>

<h3>Overview</h3>
<p>
  {{tvShowDetail.overview}}
</p>
<p>Release Date: {{tvShowDetail.last_air_date| date:'short'}}</p>

<button (click)="gotoPrevious()">Back</button>
