<p>
  top-rated-movies.component.html works!
</p>

<ol>
  <li *ngFor="let movie of movies">
    <a routerLink="/movie-detail/{{movie.id}}">
      <img src='https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}'>
      <h3>{{movie.title}}</h3> {{movie.popularity}} {{movie.release_date}}
    </a>
  </li>
</ol>