<nav>
  <li>
    <a routerLink="/movies-popular"
       routerLinkActive="active">Popular Movies</a>
    <a routerLink="/movies-toprated"
       routerLinkActive="active">Top Rated Movies</a>
    <a routerLink="/movies-upcoming"
       routerLinkActive="active">Upcoming Movies</a>
    <a routerLink="/tv-popular"
       routerLinkActive="active">Popular TV</a>
  </li>
</nav>
<h1>
  {{ title }}!
</h1>

<div>
  <router-outlet></router-outlet>
</div>

<!-- <code>popular-movies-component</code>
<app-popular-movies></app-popular-movies>

<code>top-rated-movies-component</code>
<app-top-rated-movies></app-top-rated-movies>

<code>popular-tv-shows-component</code>
<app-popular-tv-shows></app-popular-tv-shows> -->