<p>
  popular-tv-shows works!
</p>

<ol>
  <li *ngFor="let tvShow of tvShows">
    <a routerLink="/tv-show-detail/{{tvShow.id}}">
      <img src='https://image.tmdb.org/t/p/w500{{tvShow.poster_path}}'>
      <h3>{{tvShow.original_name}}</h3> {{tvShow.name}} {{tvShow.first_air_date}}
    </a>
  </li>
</ol>