<code>
  popular-movies.component.html
</code>

<li *ngFor="let movie of movies">
  <!-- {{movie | json}} print a movie object in the browser-->
  <a routerLink="/movie-detail/{{movie.id}}">
    <!-- <img src='https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}'> -->
<img src='https://image.tmdb.org/t/p/w342{{movie.poster_path}}'>
</a>
    <h3>{{movie.title}}, movie id: {{movie.id}}</h3> {{movie.popularity}} {{movie.release_date}}
</li>